<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% block title %}{{ escape(handler.settings["sitename"]) }}{% end %}</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css") }}" />
    <link rel="stylesheet" href="{{ static_url("blog.css") }}" type="text/css" />
    <link rel="alternate" href="/feed" type="application/atom+xml" title="Tosae Blog" />
    {% block head %}<meta name="description" content="代码分享">{% end %}
  </head>
  
  <body>
    
    <div class="container">
      <div class="header box clearfix">
        <div class="hright">
          <a href="/compose"><button class="btn success">New Code</button></a>
        </div>
        <div class="hleft box">
          <h1><a href="/">{{ escape(handler.settings["sitename"]) }}</a></h1>
        </div>
      </div>
    
      <div id="content">{% block body %}{% end %}</div>
    
    </div>

    <div id="footer">
      <p>&copy; {{ escape(handler.settings["sitename"]) }} 2011 &nbsp;&nbsp;Code in <a href="https://github.com/SerhoLiu/CodeShare">Github</a> By <a href="http://serholiu.com">SErHo</a></p>
    {% block bottom %}{% end %}
    </div>
  </body>  
</html>
